<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="The_Elite_Patcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="The_Elite_Patcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <The_Elite_Patcher.Properties.Settings>
            <setting name="ProgVers" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="sitecnt" serializeAs="String">
                <value>24</value>
            </setting>
        </The_Elite_Patcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <The_Elite_Patcher.Properties.Settings>
            <setting name="hosts" serializeAs="String">
                <value />
            </setting>
            <setting name="proxy_list" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="last_news" serializeAs="String">
                <value />
            </setting>
            <setting name="news_dl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="custom_hosts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alt_proxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_developer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last_news_update" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="hash" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tpb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tzeu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torrenthnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="leetx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vertor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fenopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ybt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monova" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="heet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torreact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torcrazy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="all" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minnova" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ndlvers" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="katph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vimeo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dailymotion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xmarks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pastebin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isohunt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torfunk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torrentsdotnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torroom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="torroot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cleaned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAsAcc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRhAcc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrcachdate" serializeAs="String">
                <value />
            </setting>
            <setting name="usrcachset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrcachsaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prxylst" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="removeme" serializeAs="String">
                <value />
            </setting>
            <setting name="isCCAcc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value />
            </setting>
            <setting name="fbregd" serializeAs="String">
                <value>False</value>
            </setting>
        </The_Elite_Patcher.Properties.Settings>
    </userSettings>
</configuration>