<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheElitePatch_V3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheElitePatch_V3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheElitePatch_V3.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value>Gigawiz</value>
            </setting>
            <setting name="buildver" serializeAs="String">
                <value>3.0.3 Alpha</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
        </TheElitePatch_V3.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TheElitePatch_V3.Properties.Settings>
            <setting name="progver" serializeAs="String">
                <value>303</value>
            </setting>
        </TheElitePatch_V3.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
